
.menu {
    background-color: black;
    font-family: 'Saira Extra Condensed', sans-serif;
    box-shadow: 1px 1px 2px black;
    padding: 0;
    z-index: 0;
    
  
}

.menubtn {
   font-weight: 700;
    font-size: 25px;
    color: white;
    background-color: transparent;
    border: none;
}
a {
    text-decoration: none;
    color: white;
}

.name{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 34px;
    font-weight: 500;
    color: #FF9238;
}
.descriptionBox{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
}
.box{
    box-shadow: 2px 2px 12px -1px rgba(0,0,0,0.58);
    -webkit-box-shadow: 2px 2px 12px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 2px 12px -1px rgba(0,0,0,0.58);
  
}
.colorbox{
    height: 20px;
    width: 20px;
    margin: 5px 0 0 5px;

}
.descText{
    text-align: justify;
}
button{
    border-radius: 0%;
    background-color: #FF9238;
    font-size: 20px;
    font-weight: 500;
    
}

.okMessage {
    padding-top: 30px;
    font-weight: 600;
    color: #39A7FF;
    font-size: 20px;
}

.btnBack{
    background-color: transparent;
    border: none;
    font-family: 'Saira Extra Condensed', sans-serif;
    border-bottom: white solid 2px;
    color: #FF9238;
}
.btnBack:hover{
    border-bottom: #FF9238 solid 2px;
}
@media only screen and (max-width: 991px) 
{
    .box {
      border: none;
      box-shadow: none;
    }
}