<div *ngIf="showloginBox" class="container boxcontainer">
    <div class="row log_imgBox">
        <div class="col-lg-6">
            <div class="loginBox">
                <div class="row">
                    <div class="col-12 col-md-10 mx-auto">
                        <h3 class="logh3">Sign In </h3>
                        <p>Don't you have an account yet? <a class="linkSignUp" routerLink="/sign-up"
                                routerLinkActive="true">Register now</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-10 mx-auto mt-2">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" id="username" #username>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-10 mx-auto mt-2">
                        <label for="pwd">Password</label>
                        <input class="form-control" type="password" id="pwd" #pwd>
                    </div>
                </div>

                <div *ngIf="showMandatoryErr">
                    <p class="errMessage text-center">*Some fields are mandatory</p>
                </div>

                <div *ngIf="incorrectCredenzials">
                    <p class="errMessage text-center">Credenzials are incorrect</p>
                </div>

                <div *ngIf="showinvalidAccount">
                    <p class="errMessage text-center">Email is not registrated </p>
                </div>



                <div class="row">
                    <div class="col-12 col-md-10 mx-auto mt-3 text-end">
                        <button class="btn btn_login rounded-0" (click)="Login(username.value,pwd.value)">Login</button>
                    </div>
                </div>

            
            </div>
        </div>
        <div class="col-12 col-lg-6 picture">
            <img class="img-fluid" src="../../../assets/media/loginBike.jpg" alt="loginPicture">
        </div>
    </div>




</div>

<div *ngIf="isItOld" class="container boxcontainer">
    <div class="row">

        <div class="col-12 col-md-8 mx-auto renewPwdBox  p-3 p-md-5">

            <div class="d-flex  justify-content-between">
                <h5>It is necessary to update the password</h5>
                <button class="closeBtn text-end"  (click)="closeupdatepwd()">
                    <i class="bi bi-x-lg"></i>
                </button>

            </div>
            <div *ngIf="noUpdated">
                <p class="errMessage text-center">Impossible to update the password. Try again</p>
            </div>
            <div class="col-12 col-md-10 mx-auto mt-2">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" #pwd>
            </div>
            <div class="col-12 col-md-10 mx-auto mt-2">
                <label for="chckPsw">Check Password</label>
                <input class="form-control" type="password" id="chckPsw" #chckPsw>
            </div>

            <div *ngIf="showMandatoryErr">
                <p class="errMessage text-center">*Some fields are mandatory</p>
            </div>

            <div *ngIf="showerrPwd">
                <p class="errMessage text-center">Passwords don't match</p>
            </div>





            <div class="row">
                <div class="class=col-12 col-md-10 mx-auto mt-3 text-end">
                    <button class="btn btn_login rounded-0" 
                    (click)="UpdateCustomer(pwd.value, chckPsw.value)">Update Password</button>
                </div>

            </div>




        </div>
    </div>
</div>