<div class="container mt-5">
    <div class="row log_imgBox">
        <div class="col-lg-6">
            <div class="loginBox">
                <div class="row">
                    <div class="col-10 mx-auto">
                        <h3 class="logh3">Sign In </h3>
                        <p>Don't you have an account yet? <a class="linkSignUp" routerLink="/sign-up"
                                routerLinkActive="true">Register now</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 mx-auto mt-2">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" id="username" #username>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 mx-auto mt-2">
                        <label for="pwd">Password</label>
                        <input class="form-control" type="password" id="pwd"  #pwd>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 mx-auto mt-2 text-center">
                        <button class="btn btn_login rounded-0"
                        (click)="Login(username.value,pwd.value)">Login</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 ">
            <img class="img-fluid" src="../../../assets/media/loginBike.jpg" alt="">
        </div>

    </div>
</div>