<div class=" py-2 container-fluid d-flex justify-content-around flex-wrap categoryParentnav ">
  <button class="categoryParentbtn" (click)="allProducts()">All Products</button>
  <button class="categoryParentbtn" *ngFor="let categoryParent of categoryParentsList"
    (click)="getCategoryChilds(categoryParent.productCategoryID)">
    {{categoryParent.name}}
  </button>
</div>
<div class=" container-fluid m-0 categoryChidBox" *ngIf="showCategoriesChild">
  <div class="row">
    <div class=" col-6 col-sm-3 col-lg-2 text-center" *ngFor="let categoryChild of categoryChildList">
      <button class="categoryChildbtn" 
      (click)="getPreviewProducts(categoryChild.productCategoryID, categoryChild.name)">
        {{categoryChild.name}}
      </button>
    </div>
  </div>
</div>
<div class="container" *ngIf="showProducts">
  <div class="row">
    <h3 class="mt-4">All products from {{categoryName}}</h3>
    <div class="col-12 col-sm-6 col-lg-3 mt-4 " *ngFor="let previewProduct of previewProductsList">
    
      <button class="productBox mt-3 p-2" (click)="goToProductDetails(previewProduct.productId)">
        <img src="../../../assets/media/fotoCard.jpg" alt="preview-picture" class="img-fluid">
        <h3 class="px-2 mt-2"> {{previewProduct.product}} </h3>
      </button>

    </div>
  </div>
</div>

<div class="container" *ngIf="showAllProducts">
  <div class="row">
    <h3 class="mt-4" >All products</h3>
    <div class="col-12 col-md-4 mt-2">
      <input type="text" [(ngModel)]="searchTerm" (input)="liveSearch()" 
      class="form-control" placeholder="Search by name">
    </div>
  </div>

  <div class="row" *ngIf="foundProducts">

    <div class="col-12 col-sm-6 col-lg-3 mt-4 " *ngFor="let product of filteredProductList">
      <button class="productBox mt-3 p-2" (click)="goToProductDetails(product.productId)">
        <img src="../../../assets/media/fotoCard.jpg" alt="preview-picture" class="img-fluid">
        <h3 class="px-2 mt-2"> {{product.name}} </h3>
        <button><i class="bi bi-cart-fill"></i></button>
      </button>

    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="noProducts">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
        <h2>There are not products for this search</h2>
    </div>

    <div class=" col-12 col-md-8 mx-auto mt-3">
      <img src="../../../assets/media/catalogue.jpg" class="img-fluid" alt="">
    </div>
  </div>
</div>