 h2 {
     font-family: 'Saira Extra Condensed', sans-serif;
     font-size: 30px;
     font-weight: 500;
     color: #FF9238;

 }

 .btnCatalogue {
     color: #39A7FF;

 }

 .cartBox {
     margin-bottom: 300px;

 }

 button {
     font-family: 'Saira Extra Condensed', sans-serif;
     background-color: transparent;
     color: #FF9238;
     border: none;
     font-size: 20px;
 }

 .prod {
     color: black;
     font-family: 'Saira Extra Condensed', sans-serif;
 }

 .total {
     color: #FF9238;
     font-family: 'Saira Extra Condensed', sans-serif;
     font-size: 20px;
 }
 .amount{
    color: #FF9238;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 20px;
 }