.menu {
    background-color: black;
    font-family: 'Saira Extra Condensed', sans-serif;
    box-shadow: 1px 1px 2px black;
    padding: 0;
    z-index: 0;
    
  
}

.menubtn {
   font-weight: 500;
    font-size: 25px;
    color: white;
    background-color: transparent;
    border: none;
}

.headerBox {
    margin-top: 1px;
    position: relative;
 
  
}
.hSlogan{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 5px;
    left: 10px;
}


a {
    text-decoration: none;
    color: white;
}
.philosophyTitle{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #FF9238;
}
.philosophyText {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 14px;
    text-align: justify;
    padding: 12px;
}
.philosophyImg{
    width: 100%;
  
}

@media only screen and (min-width: 380px) 
{
    .hSlogan{
        font-size: 32px;
        top: 20px;
        left: 45px;
    }

}


@media only screen and (min-width: 500px) 
{
    .hSlogan{
        font-size: 36px;
        top: 30px;
        left: 80px;
    }
    .philosophyTitle{
        font-size: 27px;
    }
    .philosophyText {
        font-size: 16px;

    }
}

@media only screen and (min-width: 650px) 
{
    .hSlogan{
        font-size: 40px;
        top: 40px;
        left: 110px;
    }
}

@media only screen and (min-width: 800px) 
{
    .hSlogan{
        font-size: 50px;
        top: 60px;
        left: 140px;
    }
    .philosophyTitle{
        font-size: 30px;
    }
    .philosophyText {
        font-size: 19px;

    }
}

@media only screen and (min-width: 1000px) 
{
    .hSlogan{
        font-size: 70px;
    }
    .philosophyText {
        font-size: 19px;
        margin-bottom: 60px;

    }

    .philosophyTitle{
        margin-bottom: 50px;
    }
}