<div class=" py-2 container-fluid d-flex justify-content-around flex-wrap menu ">
    <button class="menubtn" routerLink="/catalogue" routerLinkActive="true">Catalogue</button>
    <button class="menubtn"> <a href="#Philosophy" >Our Philosophy</a></button>
    <button class="menubtn">Contact Us</button>
    <button class="menubtn">Recensioni</button>
</div>

<div class="container-fluid  p-0 headerBox">
    <h2 class="hSlogan"> Pedala Your Way</h2>
    <img class="img-fluid" src="../../../assets/media/coverHome3.jpg" alt="">
</div>

<div id="Philosophy" class="container mt-5">
    <div class="row">
        <h3 class="text-center philosophyTitle">Our Philosophy</h3>
        <div class="  col-12 col-lg-6 col-xl-12">
            <p class="philosophyText">
                Our philosophy is simple: to strengthen the bond between people and nature through cycling.

                At PedalaCom, we believe in sustainability. From sourcing eco-friendly components to reducing waste,
                we're
                committed to environmental responsibility.

                We aim to inspire individuals to choose cycling as a means of transportation, improving health and
                reducing
                carbon footprints. Through community engagement and bike-sharing programs, we make cycling accessible to
                all.

                Cycling promotes well-being and connectivity with our surroundings. It's a remedy for stress and allows
                us
                to
                reconnect with nature.

                Join us as we innovate and advocate for a greener future. Together, let's pedal towards a more
                sustainable
                and
                connected world

            </p>
        </div>
        <div class="mt-3  col-12 col-lg-6 col-xl-12">
            <img class="img-fluid philosophyImg" src="../../../assets/media/philosophy.png" alt="">
        </div>
    </div>

</div>