

<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="nav-link appname ms-3" routerLink="/home" routerLinkActive="true" >PEDALACOM <i class="bi bi-bicycle"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
 
          
        </ul>
       
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a *ngIf="showlogin"  class="nav-link navItem  ms-3 me-2 "  routerLink="/log-in" routerLinkActive="true"><i class=" bi bi-person-fill me-1"></i>Sign in</a>
          </li>
          <li>
            <a *ngIf="showLogged" class="nav-link navItem ms-3" routerLink="/personal-area" routerLinkActive="true">{{userName}}</a>
          </li>
          <li>
            <button *ngIf="showLogOut" (click)="logOut()" class="ms-sm-3 ms-lg-0 logOutBtn" >Log out</button>
          </li>
        
        </ul>
      </div>
    </div>
</nav>

<div class="container-fluid d-flex justify-content-center shippingDiv">Free shipping on bikes and accessories</div>

<router-outlet></router-outlet>