/*font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Vina Sans', sans-serif;*/




.appname {
    font-family: 'Vina Sans', sans-serif;
    font-size: 31px;
}

nav {

    box-shadow: 0.5px 0.5px 0.5px black;
}

.navItem {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 18px;
}

.catalog {
    font-size: 20px;
}

a {
    text-decoration: none;
}

.shippingDiv {
    background-color: #FF9238;
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
    border-bottom: 1px solid black;
    font-weight: 900;
    font-size: 12px;

}

.logOutBtn {
    margin: 8px 0;
    border: none;
    background-color: black;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 18px;
    color: white;


}



@media only screen and (min-width: 500px) {

    .shippingDiv {
        font-size: 14px;
    }

}

