<div class="container boxcontainer">
    <div class="row ">
        <div class="col-8 mx-auto signUpBox ">
            <form action="">
               
                <div class="row">
                    <h3 class="signUph3">Create an account</h3>
                    <div class="col-12 col-md-6  mt-2">
                        <label for="name">Name <span class="mandatoryTags">*mandatory</span></label>
                        <input class="form-control" type="text" id="name"  #name>
                        <p *ngIf="errorMandatory" class="mandatoryTags">* Some fields are mandatory</p>
                    </div>
                    <div class="col-12 col-md-6  mt-2">
                        <label for="lastName">Last Name <span class="mandatoryTags">*mandatory</span></label>
                        <input class="form-control" type="text" id="lastName"  #lastName>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-7 mt-2">
                        <label for="email">Email Address <span class="mandatoryTags">*mandatory</span></label>
                        <input class="form-control" type="email" id="email"  #email>
                    </div>
                    <div class="col-12 col-md-5 mt-2">
                        <label for="phone">Phone Number</label>
                        <input class="form-control" type="text" id="phone"  #phone>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 mt-2">
                        <label for="password">Password <span class="mandatoryTags">*mandatory</span></label>
                        <input class="form-control" type="password" id="password"  #passwrd>
                    </div>
                    <div class="col-12 col-md-6 mt-2">
                        <label for="chckPsw">Check Password <span class="mandatoryTags">*mandatory</span></label>
                        <input class="form-control" type="password" id="chckPsw"  #chckPsw>
                    </div>
                  
                </div>
                <p *ngIf="errorMandatory" class="mandatoryTags">*Check if you filled all mandatory fields</p>
                <p *ngIf="errorPwd">Passwords don't match </p>

                <div>
                    <button class=" mt-3 ms-auto btn  btn_signUp d-flex" 
                    (click)="InsertNewCustomer(name.value, lastName.value, email.value, phone.value, 
                    passwrd.value, chckPsw.value)">
                        Sing Up</button>
                </div>
            </form>
        </div>
    </div>

</div>
