.boxcontainer{
    margin-top: 100px;
    margin-bottom: 100px;
   
}

.signUpBox {
   
    box-shadow: 2px 2px 12px -1px rgba(0,0,0,0.58);
    -webkit-box-shadow: 2px 2px 12px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 2px 12px -1px rgba(0,0,0,0.58);
   font-size: 18px;
    font-family: 'Saira Extra Condensed', sans-serif;
}
h3{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #FF9238;
}


.btn_signUp {
   border-radius: 0%;
    background-color: #FF9238;
    font-size: 20px;
    font-weight: 500;
}

.mandatoryTags{

    font-weight: 500;
    color: #39A7FF;
}

input {
    border-radius: 0%;
    border: 1px solid gray;
}

.errMessage {
    padding-top: 30px;
    font-weight: 600;
    color: #39A7FF;
    font-size: 20px;
}
.closeBtn{
    background-color: transparent;
    border: none;
    font-size: 25px;
}


@media only screen and (max-width: 991px) 
{
 
    .signUpBox{
        box-shadow: none;
    }
}