*{
    font-family: 'IBM Plex Sans', sans-serif;
}
/*
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Saira Extra Condensed', sans-serif;
font-family: 'Vina Sans', sans-serif;
*/
/*FF9238 -- naranja*/
/*39A7FF-- azul*/

